// import Sass-files

// Variables & functions

@import "./utils/variables";
@import "./utils/functions";
@import "./utils/mixins";
@import "./utils/extensions";
@import "./utils/responsive";

// Base & layout

@import "./base/typography";
@import "./base/base";

/* importation barre de navigation */
@import "./layouts/nav";
/* fin de la barre de navigation */

/* importantion du header */
@import "./layouts/header";
/* fin du header */

/* importation du form */
@import "./layouts/form";
/* fin du form */

/* importation du container */
@import "./layouts/main";
@import "./layouts/container";
/* fin du container */

/* importation du footer */
@import "./layouts/footer";
/* fin du footer */

/*importation de composants */
@import "./components/buttons";
/* fin de composants */

// Definition du font-size
body {
  font-size: $base-font-size;
  font-family: "Roboto", sans-serif;
}
.restaurants {
  display: flex;
  flex-direction: column;
  background-color: $lightgrey;
  padding: 35px 15px;
  .cards {
    .card {
      margin: 15px 0;
      width: inherit;
      height: 220px;
      background-color: white;
      border-radius: 20px;
      box-shadow: 2px 2px 10px lightgrey;
    }
  }
}
